* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/m2e.jks -text
/m67736q.jks -text
/pom.xml -text
/secretfile -text
src/main/config/examples/MyServiceV1.xml -text
src/main/config/log4j-console.properties -text
src/main/config/log4j-file.properties -text
src/main/java/com/att/aft/dme2/api/DME2BinaryPayload.java -text
src/main/java/com/att/aft/dme2/api/DME2Client.java -text
src/main/java/com/att/aft/dme2/api/DME2Configurable.java -text
src/main/java/com/att/aft/dme2/api/DME2DefaultFailoverHandler.java -text
src/main/java/com/att/aft/dme2/api/DME2Endpoint.java -text
src/main/java/com/att/aft/dme2/api/DME2EndpointRegistry.java -text
src/main/java/com/att/aft/dme2/api/DME2Exception.java -text
src/main/java/com/att/aft/dme2/api/DME2Exchange.java -text
src/main/java/com/att/aft/dme2/api/DME2FailoverHandler.java -text
src/main/java/com/att/aft/dme2/api/DME2FilePayload.java -text
src/main/java/com/att/aft/dme2/api/DME2FilterHolder.java -text
src/main/java/com/att/aft/dme2/api/DME2JDBCEndpoint.java -text
src/main/java/com/att/aft/dme2/api/DME2MXBeanMaster.java -text
src/main/java/com/att/aft/dme2/api/DME2Manager.java -text
src/main/java/com/att/aft/dme2/api/DME2Payload.java -text
src/main/java/com/att/aft/dme2/api/DME2Protocol.java -text
src/main/java/com/att/aft/dme2/api/DME2ReplyHandler.java -text
src/main/java/com/att/aft/dme2/api/DME2RestfulHandler.java -text
src/main/java/com/att/aft/dme2/api/DME2RouteInfo.java -text
src/main/java/com/att/aft/dme2/api/DME2RouteOffer.java -text
src/main/java/com/att/aft/dme2/api/DME2Server.java -text
src/main/java/com/att/aft/dme2/api/DME2ServiceEndpointData.java -text
src/main/java/com/att/aft/dme2/api/DME2ServiceHolder.java -text
src/main/java/com/att/aft/dme2/api/DME2ServletHolder.java -text
src/main/java/com/att/aft/dme2/api/DME2ServletWrapper.java -text
src/main/java/com/att/aft/dme2/api/DME2SimpleReplyHandler.java -text
src/main/java/com/att/aft/dme2/api/DME2StreamPayload.java -text
src/main/java/com/att/aft/dme2/api/DME2StreamReplyHandler.java -text
src/main/java/com/att/aft/dme2/api/DME2TextPayload.java -text
src/main/java/com/att/aft/dme2/api/proxy/DME2IngressContinuationListener.java -text
src/main/java/com/att/aft/dme2/api/proxy/DME2IngressProxy.java -text
src/main/java/com/att/aft/dme2/api/proxy/DME2IngressProxyClient.java -text
src/main/java/com/att/aft/dme2/api/proxy/DME2IngressProxyReplyHandler.java -text
src/main/java/com/att/aft/dme2/api/proxy/DME2IngressProxyServlet.java -text
src/main/java/com/att/aft/dme2/api/quick/QuickClient.java -text
src/main/java/com/att/aft/dme2/api/quick/QuickServer.java -text
src/main/java/com/att/aft/dme2/api/quick/QuickServletConfig.java -text
src/main/java/com/att/aft/dme2/api/util/BaseEndpointRegistry.java -text
src/main/java/com/att/aft/dme2/api/util/DME2BasicAuthentication.java -text
src/main/java/com/att/aft/dme2/api/util/DME2Constants.java -text
src/main/java/com/att/aft/dme2/api/util/DME2CountingServletOutputStream.java -text
src/main/java/com/att/aft/dme2/api/util/DME2EndpointRegistryFS.java -text
src/main/java/com/att/aft/dme2/api/util/DME2EndpointRegistryGRM.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ExactLookupContext.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ExceptionHandler.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ExchangeFaultContext.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ExchangeReplyHandler.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ExchangeRequestContext.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ExchangeRequestHandler.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ExchangeResponseContext.java -text
src/main/java/com/att/aft/dme2/api/util/DME2FileUploadInfo.java -text
src/main/java/com/att/aft/dme2/api/util/DME2MessageHeaderUtils.java -text
src/main/java/com/att/aft/dme2/api/util/DME2MetricsFilter.java -text
src/main/java/com/att/aft/dme2/api/util/DME2NullReplyHandler.java -text
src/main/java/com/att/aft/dme2/api/util/DME2NullServlet.java -text
src/main/java/com/att/aft/dme2/api/util/DME2PasswordUtils.java -text
src/main/java/com/att/aft/dme2/api/util/DME2PortFileManager.java -text
src/main/java/com/att/aft/dme2/api/util/DME2PrintWriterWrapper.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ProximityAide.java -text
src/main/java/com/att/aft/dme2/api/util/DME2RouteInfoKey.java -text
src/main/java/com/att/aft/dme2/api/util/DME2RouteInfoLoader.java -text
src/main/java/com/att/aft/dme2/api/util/DME2SecurityHandler.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ServiceRequestData.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ServiceStats.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ServletResponseWrapper.java -text
src/main/java/com/att/aft/dme2/api/util/DME2SimpleRealm.java -text
src/main/java/com/att/aft/dme2/api/util/DME2Stats.java -text
src/main/java/com/att/aft/dme2/api/util/DME2TransactionHolder.java -text
src/main/java/com/att/aft/dme2/api/util/DME2URI.java -text
src/main/java/com/att/aft/dme2/api/util/DME2UniformResource.java -text
src/main/java/com/att/aft/dme2/api/util/DME2Utils.java -text
src/main/java/com/att/aft/dme2/api/util/DME2ValidationUtil.java -text
src/main/java/com/att/aft/dme2/api/util/EndpointIteratorFactoryHelper.java -text
src/main/java/com/att/aft/dme2/api/util/EventProcessor.java -text
src/main/java/com/att/aft/dme2/api/util/ExtensionFilenameFilter.java -text
src/main/java/com/att/aft/dme2/api/util/GuidGen.java -text
src/main/java/com/att/aft/dme2/api/util/LogMessage.java -text
src/main/java/com/att/aft/dme2/api/util/LogUtil.java -text
src/main/java/com/att/aft/dme2/api/util/MemoryRegistry.java -text
src/main/java/com/att/aft/dme2/api/util/MessageConfigurationMXBean.java -text
src/main/java/com/att/aft/dme2/api/util/OfferCache.java -text
src/main/java/com/att/aft/dme2/api/util/PortFileLockManager.java -text
src/main/java/com/att/aft/dme2/api/util/XMLGregorianCalendarConverter.java -text
src/main/java/com/att/aft/dme2/api/util/cache/DME2Cache.java -text
src/main/java/com/att/aft/dme2/api/util/cache/DME2EndpointCache.java -text
src/main/java/com/att/aft/dme2/api/util/cache/DME2RouteInfoCache.java -text
src/main/java/com/att/aft/dme2/api/util/cache/DME2StaleEndpointCache.java -text
src/main/java/com/att/aft/dme2/api/util/cache/DME2StaleRouteOfferCache.java -text
src/main/java/com/att/aft/dme2/api/util/configuration/DME2Configuration.java -text
src/main/java/com/att/aft/dme2/api/util/configuration/DME2LoggingConfig.java -text
src/main/java/com/att/aft/dme2/api/util/configuration/DME2ThreadPoolConfig.java -text
src/main/java/com/att/aft/dme2/api/util/grm/BaseAccessor.java -text
src/main/java/com/att/aft/dme2/api/util/grm/GRMServiceAccessor.java -text
src/main/java/com/att/aft/dme2/api/util/grm/GRMTopologyAccessor.java -text
src/main/java/com/att/aft/dme2/instrument/CollectorProxy.java -text
src/main/java/com/att/aft/dme2/instrument/DiagnosticMXBean.java -text
src/main/java/com/att/aft/dme2/instrument/DiagnosticUtil.java -text
src/main/java/com/att/aft/dme2/instrument/EventSampler.java -text
src/main/java/com/att/aft/dme2/instrument/NetworkCrawler.java -text
src/main/java/com/att/aft/dme2/iterator/DME2BaseEndpointIterator.java -text
src/main/java/com/att/aft/dme2/iterator/DME2EndpointIterator.java -text
src/main/java/com/att/aft/dme2/iterator/DME2EndpointIteratorFactory.java -text
src/main/java/com/att/aft/dme2/iterator/DME2EndpointReference.java -text
src/main/java/com/att/aft/dme2/iterator/instrument/DME2EndpointIteratorMXBean.java -text
src/main/java/com/att/aft/dme2/iterator/util/Constants.java -text
src/main/java/com/att/aft/dme2/iterator/util/DME2CollectionUtils.java -text
src/main/java/com/att/aft/dme2/iterator/util/DME2EndpointURLFormatter.java -text
src/main/java/com/att/aft/dme2/jetty/DME2ExecutorThreadPool.java -text
src/main/java/com/att/aft/dme2/jetty/DME2SelectChannelConnector.java -text
src/main/java/com/att/aft/dme2/jetty/DME2SslSelectChannelConnector.java -text
src/main/java/com/att/aft/dme2/mbean/DME2CacheMXBean.java -text
src/main/java/com/att/aft/dme2/mbean/DME2MXBean.java -text
src/main/java/com/att/aft/dme2/mbean/JMXUtil.java -text
src/main/java/sun/net/www/protocol/dme2/DME2URLConnection.java -text
src/main/java/sun/net/www/protocol/dme2/DME2URLStreamHandler.java -text
src/main/resources/com/att/aft/dme2/api/errorTable.properties -text
src/main/resources/message-handling.properties -text
src/main/resources/piccolo.properties -text
src/main/swm/nix/common/deinstall.sh -text
src/main/swm/nix/common/install.sh -text
src/main/swm/nix/common/pre_install.sh -text
src/main/swm/nix/deinstall/postproc/post_proc -text
src/main/swm/nix/deinstall/preproc/pre_proc -text
src/main/swm/nix/descriptor.xml -text
src/main/swm/nix/fallback/postproc/post_proc -text
src/main/swm/nix/fallback/preproc/pre_proc -text
src/main/swm/nix/initinst/postproc/post_proc -text
src/main/swm/nix/initinst/preproc/pre_proc -text
src/main/swm/nix/install/postproc/post_proc -text
src/main/swm/nix/install/preproc/pre_proc -text
src/main/swm/windows/common/deinstall.sh -text
src/main/swm/windows/common/install.sh -text
src/main/swm/windows/common/pre_install.sh -text
src/main/swm/windows/deinstall/postproc/post_proc -text
src/main/swm/windows/deinstall/preproc/pre_proc -text
src/main/swm/windows/descriptor.xml -text
src/main/swm/windows/fallback/postproc/post_proc -text
src/main/swm/windows/fallback/preproc/pre_proc -text
src/main/swm/windows/initinst/postproc/post_proc -text
src/main/swm/windows/initinst/preproc/pre_proc -text
src/main/swm/windows/install/postproc/post_proc -text
src/main/swm/windows/install/preproc/pre_proc -text
src/test/bin/launcher.bat -text
src/test/bin/launchwebserver.bat -text
src/test/etc/CSPConfigureWebApp.jar -text
src/test/etc/aft_location/BHAM.properties -text
src/test/etc/aft_location/CHAR.properties -text
src/test/etc/aft_location/JACKSON.properties -text
src/test/etc/dme2-api.properties -text
src/test/etc/eng_f7.wav -text
src/test/etc/lrm-api.jar -text
src/test/etc/mylogin.conf -text
src/test/etc/rinfo.txt -text
src/test/etc/rinfo1.txt -text
src/test/etc/svc_config/MyServiceV1.xml -text
src/test/etc/svc_config/MyServiceV9.xml -text
src/test/etc/svc_config/service=MyService/version=1.0.0/envContext=PROD/routeInfo.xml -text
src/test/etc/svc_config/service=MyService/version=1.1.0/envContext=PROD/routeInfo.xml -text svneol=unset#text/plain
src/test/etc/svc_config/service=MyService/version=1.1.1/envContext=PROD/routeInfo.xml -text svneol=unset#text/plain
src/test/etc/svc_config/service=MyService/version=1.1/envContext=PROD/routeInfo.xml -text
src/test/etc/svc_config/service=MyService/version=1/envContext=PROD/routeInfo.xml -text
src/test/etc/svc_config/service=com.att.aft.dme2.test.TestFindAndFilterInvalidEndpoints/version=1.0.0/envContext=LAB/routeOffer=null.lock -text
src/test/etc/svc_config/service=com.att.aft.dme2.test.TestFindAndFilterInvalidEndpoints/version=1.0.0/envContext=LAB/routeOffer=null.txt -text
src/test/etc/svc_config/service=com.att.aft.dme2.test.TestFindAndFilterInvalidEndpoints/version=null/envContext=LAB/routeOffer=null.lock -text
src/test/etc/svc_config/service=com.att.aft.dme2.test.TestFindAndFilterInvalidEndpoints/version=null/envContext=LAB/routeOffer=null.txt -text
src/test/etc/svc_config/service=com.att.aft.dme2.test.TestRefreshCachedRouteInfo/version=1.0.0/envContext=LAB/routeInfo.xml -text
src/test/etc/svc_config/service=com.att.afttest3.DataPartitionEnabler/version=1.0.0/envContext=LAB/routeInfo.xml -text
src/test/etc/svc_config/service=com.att.afttest3.ExchangeFailover/version=1.0.0/envContext=LAB/routeInfo.xml -text
src/test/etc/users.props -text
src/test/etc/utf8data.txt -text
src/test/java/com/att/aft/dme2/api/AppTest.java -text
src/test/java/com/att/aft/dme2/api/DME2BaseTestCase.java -text
src/test/java/com/att/aft/dme2/api/SimpleTest.java -text
src/test/java/com/att/aft/dme2/api/TestAuthentication.java -text
src/test/java/com/att/aft/dme2/api/TestDME2Client.java -text
src/test/java/com/att/aft/dme2/api/TestDME2Endpoint.java -text
src/test/java/com/att/aft/dme2/api/TestDME2Exception.java -text
src/test/java/com/att/aft/dme2/api/TestDME2Exchange.java -text
src/test/java/com/att/aft/dme2/api/TestDME2ExchangeFailover.java -text
src/test/java/com/att/aft/dme2/api/TestDME2FailoverSequenceOnSameRequest.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/api/TestDME2GRMTopologyEndpointRegistry.java -text
src/test/java/com/att/aft/dme2/api/TestDME2HttpStatusCode.java -text
src/test/java/com/att/aft/dme2/api/TestDME2JDBCEndpoint.java -text
src/test/java/com/att/aft/dme2/api/TestDME2Manager.java -text
src/test/java/com/att/aft/dme2/api/TestDME2Payload.java -text
src/test/java/com/att/aft/dme2/api/TestDME2PayloadCompression.java -text
src/test/java/com/att/aft/dme2/api/TestDME2PublishHostAddress.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/api/TestDME2RegistrationWithDME2Version.java -text
src/test/java/com/att/aft/dme2/api/TestDME2RegistrationWithRangeOfVersions.java -text
src/test/java/com/att/aft/dme2/api/TestDME2RouteInfo.java -text
src/test/java/com/att/aft/dme2/api/TestDME2RouteInfoVersionMapping.java -text
src/test/java/com/att/aft/dme2/api/TestDME2RouteInfoVersionSelectorNotMatch.java -text
src/test/java/com/att/aft/dme2/api/TestDME2RouteOffer.java -text
src/test/java/com/att/aft/dme2/api/TestDME2SSL.java -text
src/test/java/com/att/aft/dme2/api/TestDME2Server.java -text
src/test/java/com/att/aft/dme2/api/TestDME2ServiceHolder.java -text
src/test/java/com/att/aft/dme2/api/TestDME2ServletWrapper.java -text
src/test/java/com/att/aft/dme2/api/TestDME2URI.java -text
src/test/java/com/att/aft/dme2/api/TestDME2UniformResource.java -text
src/test/java/com/att/aft/dme2/api/TestDME2UnusedEndpointRemoval.java -text
src/test/java/com/att/aft/dme2/api/TestDME2Validations.java -text
src/test/java/com/att/aft/dme2/api/TestEndpointRegistry.java -text
src/test/java/com/att/aft/dme2/api/TestFailover.java -text
src/test/java/com/att/aft/dme2/api/TestFs.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/api/TestGrm.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/api/TestGrmFailover.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/api/TestJettyRequest.java -text
src/test/java/com/att/aft/dme2/api/TestMetricsCollection.java -text
src/test/java/com/att/aft/dme2/api/TestPiccoloCollection.java -text
src/test/java/com/att/aft/dme2/api/TestRouteInfoSelector.java -text
src/test/java/com/att/aft/dme2/api/TestRoutingRule.java -text
src/test/java/com/att/aft/dme2/api/TestURI.java -text
src/test/java/com/att/aft/dme2/api/TestUseVersionRange.java -text
src/test/java/com/att/aft/dme2/api/TestVersionsFs.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/api/TestVersionsGrm.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/api/proxy/TestIngressProxy.java -text
src/test/java/com/att/aft/dme2/api/util/TestGRMTopologyAccessor.java -text
src/test/java/com/att/aft/dme2/api/util/TestLogMessages.java -text
src/test/java/com/att/aft/dme2/api/util/TestLogUtil.java -text
src/test/java/com/att/aft/dme2/api/util/TestLogUtilHandling.java -text
src/test/java/com/att/aft/dme2/instrument/TestNetworkCrawler.java -text
src/test/java/com/att/aft/dme2/iterator/test/TestDME2EndpointIterator.java -text
src/test/java/com/att/aft/dme2/iterator/test/servlet/DME2SimpleServlet.java -text
src/test/java/com/att/aft/dme2/iterator/test/util/TestUtils.java -text
src/test/java/com/att/aft/dme2/test/server/DME2ServerController.java -text
src/test/java/com/att/aft/dme2/test/server/JettyServer.java -text
src/test/java/com/att/aft/dme2/test/server/SSLServer.java -text
src/test/java/com/att/aft/dme2/test/server/SSLServer1.java -text
src/test/java/com/att/aft/dme2/test/server/SSLServerExcludeProtocol.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/test/server/TestRun.java -text
src/test/java/com/att/aft/dme2/test/servlet/DME2SimpleServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/DME2TestContextListener.java -text
src/test/java/com/att/aft/dme2/test/servlet/EchoFileServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/EchoResponseServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/EchoServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/FailoverServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/GRMFindRunningResponseServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/GWServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/GZIPEchoResponseServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/RestfulServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/SlowdownServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/StreamReplyFailoverServlet.java -text
src/test/java/com/att/aft/dme2/test/servlet/TestDME2LogFilter.java -text
src/test/java/com/att/aft/dme2/test/servlet/TestMetricsServlet.java -text
src/test/java/com/att/aft/dme2/test/util/Copier.java -text
src/test/java/com/att/aft/dme2/test/util/DME2FileDownloadHandler.java -text
src/test/java/com/att/aft/dme2/test/util/EchoReplyHandler.java -text
src/test/java/com/att/aft/dme2/test/util/IngressProxyThread.java -text
src/test/java/com/att/aft/dme2/test/util/JettyClientRequest.java -text
src/test/java/com/att/aft/dme2/test/util/Locations.java -text
src/test/java/com/att/aft/dme2/test/util/MessageLoggerHandler.java -text
src/test/java/com/att/aft/dme2/test/util/PostRequestClient.java -text
src/test/java/com/att/aft/dme2/test/util/PreferredRouteReplyHandler.java -text
src/test/java/com/att/aft/dme2/test/util/PreferredRouteRequestHandler.java -text
src/test/java/com/att/aft/dme2/test/util/ProcessStreamReader.java -text
src/test/java/com/att/aft/dme2/test/util/PropsLoader.java -text
src/test/java/com/att/aft/dme2/test/util/RegistryFsSetup.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/test/util/RegistryGrmSetup.java -text svneol=unset#text/plain
src/test/java/com/att/aft/dme2/test/util/ResultCounter.java -text
src/test/java/com/att/aft/dme2/test/util/RouteInfoCreatorUtil.java -text
src/test/java/com/att/aft/dme2/test/util/ServerControllerLauncher.java -text
src/test/java/com/att/aft/dme2/test/util/StaticCache.java -text
src/test/java/com/att/aft/dme2/test/util/TestConstants.java -text
src/test/java/com/att/aft/dme2/test/util/TestInitParamFilter.java -text
src/test/java/com/att/aft/dme2/test/util/TestStreamReplyHandler.java -text
src/test/resources/.cached-endpoints.ser -text
src/test/resources/cached-endpoints-out-of-date.ser -text
src/test/resources/cached-endpoints-unavailable-grm.ser -text
src/test/resources/cached-endpoints.ser -text
src/test/resources/cached-routeinfo.ser -text
src/test/resources/dme2-servlet-init-invalid-service.properties -text
src/test/resources/dme2-servlet-init-missing-host.properties -text
src/test/resources/dme2-servlet-init-missing-port.properties -text
src/test/resources/dme2-servlet-init-missing-protocol.properties -text
src/test/resources/dme2-servlet-init.properties -text
src/test/resources/console.logging.properties -text
src/test/resources/errorTable.properties -text
src/test/resources/web.xml -text
src/test/resources/web_2.xml -text
